body {
    background: #1e9199;
    font-family: arial, Helvetica, sans-serif;
    font-size: 16px;
}
.box {
    width: 300px;
    height: 250px;
    margin: 100px auto;
    padding: 50px;
    background: #fafafa;
    border: 5px solid #fafafa;
    border-radius: 10px;
    color: #1e9199;
    text-align: center;
}
.box h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
input {
    margin-bottom: 15px;
    padding: 5px;
    background: #fafafa;
    border: 2px solid #1e9199;
    border-radius: 5px;
    outline-color: #1e9199;
}
#submit {
    text-align: center;
    padding: 7px;
    background: #1e9199;
    border: 5px solid #1e9199;
    border-radius: 10px;
    color: #fafafa;
    cursor: pointer;
}
#submit:hover {
    background: #1e9199c0;
    border: 5px solid #1e919910;
}